<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">

		<!-- iPhone, iPad and Android specific settings -->	
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1;">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		
		<title>Teleswitch :: Index</title>		

		<!-- Create an icon and splash screen for iPhone and iPad -->
		<link rel="apple-touch-icon" href="/images/iOS_icon.png">
		<link rel="apple-touch-startup-image" href="/images/iOS_startup.png"> 

		<link rel="stylesheet" type="text/css" href="/css/all.css" media="screen">
		<link rel="stylesheet" type="text/css" href="/css/theme/switcher5.php?default=switcher.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/css/theme/switcher.css" media="screen">
		<link rel="stylesheet" type="text/css" href="/css/theme/switcher1.php?default=../layout_fixed.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/css/theme/switcher2.php" media="screen" />
		<link rel="stylesheet" type="text/css" href="/css/theme/switcher3.php?default=theme_navy.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/css/theme/switcher4.php?default=bg_wood.css" media="screen" />
		<!--[if IE 6]><link rel="stylesheet" type="text/css" href="css/ie6.css" media="screen" /><![endif]-->
		<!--[if IE 7]><link rel="stylesheet" type="text/css" href="css/ie.css" media="screen" /><![endif]-->
	</head>
	<body>
		<div id="loading_overlay">
			<div class="loading_message round_bottom">Loading...</div>
		</div>

		<div id="wrapper">
			<div id="topbar" class="clearfix">
			
				<a href="index.php" class="logo"><span>Teleswitch</span></a>
				
				<div class="user_box round_all">
					<img src="http://www.tricycle.ie/adminica/images/profile.jpg" width="55" alt="Profile Pic" />
					<h2>Administrator</h2>
					<h3><a class="text_shadow" href="#">[USERNAME]</a></h3>
					<ul>
						<li><a href="#">profile</a><span class="divider">|</span></li>
						<li><a href="#">settings</a><span class="divider">|</span></li>
						<li><a href="/logout">logout</a></li>
					</ul>
				</div><!-- #user_box -->	
			</div><!-- #topbar -->		
			<div id="sidebar">
				<div class="cog">+</div>
				<a href="#" class="logo"><span>Zimo Communications Ltd.,</span></a>

				<div class="user_box round_all clearfix">
					<img src="http://www.tricycle.ie/adminica/images/profile.jpg" width="55" alt="Profile Pic" />
					<div class="user_links">
						<h2>Administrator</h2>
						<h3><a class="text_shadow" href="#">[USERNAME]</a></h3>
						<ul>
							<li><a href="#">settings</a><span class="divider">|</span></li>
							<li><a href="/logout">logout</a></li>
						</ul>
					</div>
				</div><!-- #user_box -->

				<ul id="accordion" class="round_all">
					<li><a href="index.php" class="top_level has_slide"><img src="http://www.tricycle.ie/adminica/images/icons/small/grey/home.png"/>Home</a>
						<ul class="drawer">
							<li><a href="#">Activity</a></li>
							<li><a href="#">Events</a></li>
							<li><a href="#">Tasks</a></li>
						</ul>
					</li>
					<li><a href="#" class="top_level has_slide"><img src="http://www.tricycle.ie/adminica/images/icons/small/grey/mail.png"/>Mailbox<span class="alert badge alert_red">5</span></a>
						<ul class="drawer">
							<li><a href="#">Inbox<span class="alert badge alert_grey">3</span></a></li>
							<li><a href="#">Sent Items<span class="alert badge alert_grey">2</span></a></li>
							<li><a href="#">Drafts</a></li>
							<li><a href="#">Trash</a></li>
						</ul>
					</li>
					<li><a href="#" class="top_level has_slide"><img src="http://www.tricycle.ie/adminica/images/icons/small/grey/documents.png"/>Documents<span class="alert badge alert_black">2</span></a>
						<ul class="drawer">
							<li><a href="#">Create New</a></li>
							<li><a href="#">View All</a></li>
							<li><a href="#">Upload/Download<span class="alert badge alert_grey">2</span></a></li>
						</ul>
					</li>
					<li><a href="#" class="top_level has_slide"><img src="http://www.tricycle.ie/adminica/images/icons/small/grey/users.png"/>Members</a>
						<ul class="drawer">
							<li><a href="#">Add New</a></li>
							<li><a href="#">Edit/Delete</a></li>
							<li><a href="#">Search Profiles</a></li>
						</ul>
					</li>
					<li><a href="#" onClick="parent.location='http://www.tricycle.ie'" class="top_level"><img src="http://www.tricycle.ie/adminica/images/icons/small/grey/graph.png"/>Statistics</a></li>
					<li><a href="#" class="top_level has_slide"><img src="http://www.tricycle.ie/adminica/images/icons/small/grey/cog_2.png"/>Settings</a>
						<ul class="drawer">
							<li><a href="#">Account</a></li>
							<li><a href="#">System</a></li>
						</ul>
					</li>
				</ul>
				<form id="search_side"><input class="round_all" type="text" value="Search..." onclick="value=''"></form>
				<ul id="side_links" class="text_shadow" >
					<li><a href="#">Documentation and FAQs</a></li>
					<li><a href="#">Expert Forum</a></li>
					<li><a href="#">Product Wiki</a></li>
					<li><a href="#">Latest Company News</a></li>
				</ul>
			</div><!-- #sidebar -->

			<div class="main_container container_16 clearfix">
				<div id="nav_top" class="clearfix round_top">
					<ul class="clearfix">
						<li class="current"><a href="http://www.tricycle.ie/adminica/index.php/documentation/dashboard_sorter/"><img src="http://www.tricycle.ie/adminica/images/icons/small/white/laptop.png"/>Dashboard</a></li>
					
						<li><a href="#"><img src="http://www.tricycle.ie/adminica/images/icons/small/grey/frames.png"/>Layout</a>
							<ul class="dropdown">
								<li><a href="http://www.tricycle.ie/adminica/index.php/documentation/layout/">Grid System</a></li>
								<li><a href="http://www.tricycle.ie/adminica/index.php/documentation/text/">Text & Typography</a></li>
								<li><a class="has_slide" href="#">Layout Width</a>
									<ul class="slideout">						
										<li><a href="/css/theme/switcher1.php?style=../layout_fixed.css">Fixed</a></li>
										<li><a href="/css/theme/switcher1.php?style=switcher.css">Fluid</a></li>
									</ul>
								</li>
								<li><a class="has_slide" href="#">Layout Position</a>
									<ul class="slideout">
										<li><a href="/css/theme/switcher2.php?style=switcher.css">Side</a></li>
										<li><a href="/css/theme/switcher2.php?style=../layout_top.css">Top</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li><a href="#"><img src="http://www.tricycle.ie/adminica/images/icons/small/grey/coverflow.png"/>Boxes</a>
							<ul class="dropdown">
								<li><a class="has_slide" href="#">Tab Boxes</a>
									<ul class="slideout">
										<li><a href="http://www.tricycle.ie/adminica/index.php/documentation/tabs/">Horizontal Tabs</a></li>
										<li><a href="http://www.tricycle.ie/adminica/index.php/documentation/tabs/">Vertical Tabs</a></li>
									</ul>
								</li>
								<li><a href="http://www.tricycle.ie/adminica/index.php/documentation/accordions/">Accordions Boxes</a></li>
								<li><a href="http://www.tricycle.ie/adminica/index.php/documentation/wizard">Step by Step Wizard</a></li>
								<li><a href="http://www.tricycle.ie/adminica/index.php/documentation/code/">Code View</a></li>
							</ul>
						</li>	
						<li><a href="#"><img src="http://www.tricycle.ie/adminica/images/icons/small/grey/create_write.png"/>Forms</a>
							<ul class="dropdown">
								<li><a href="http://www.tricycle.ie/adminica/index.php/documentation/forms/">Input & Validation</a></li>
								<li><a class="has_slide" href="#">Date</a>
									<ul class="slideout">
										<li><a href="http://www.tricycle.ie/adminica/index.php/documentation/forms/">Date Field</a></li>
										<li><a href="http://www.tricycle.ie/adminica/index.php/documentation/forms/">Inline Picker</a></li>
									</ul>
								</li>
								<li><a class="has_slide" href="#">Sliders</a>
									<ul class="slideout">
										<li><a href="http://www.tricycle.ie/adminica/index.php/documentation/forms/">Horizontal Slider</a></li>
										<li><a href="http://www.tricycle.ie/adminica/index.php/documentation/forms/">Vertical Slider</a></li>
										<li><a href="http://www.tricycle.ie/adminica/index.php/documentation/forms/">Range Slider</a></li>
										<li><a href="http://www.tricycle.ie/adminica/index.php/documentation/forms/">Progress Bar</a></li>
									</ul>
								</li>
								<li><a href="http://www.tricycle.ie/adminica/index.php/documentation/buttons/">Buttons</a></li>
								<li><a href="http://www.tricycle.ie/adminica/index.php/documentation/editor/">WYSIWYG Editor</a></li>
							</ul>
						</li>		
						<li><a href="#"><img src="http://www.tricycle.ie/adminica/images/icons/small/grey/images.png"/>Gallery</a>
							<ul class="dropdown">
								<li><a href="http://www.tricycle.ie/adminica/index.php/documentation/gallery/">Fancybox Gallery</a></li>
								<li><a href="http://www.tricycle.ie/adminica/index.php/documentation/gallery_sortable/">Sortable Gallery<span class="alert badge alert_magenta">cool</span></a></li>
							</ul>
						</li>			
						<li><a href="#"><img src="http://www.tricycle.ie/adminica/images/icons/small/grey/blocks_images.png"/>Tables</a>
							<ul class="dropdown dropdown_left">
								<li><a href="http://www.tricycle.ie/adminica/index.php/documentation/tables/">DataTables</a></li>
								<li><a href="http://www.tricycle.ie/adminica/index.php/documentation/tables_static/">Regular Tables<span class="alert badge alert_red">new</span></a></li>
							</ul>
						</li>
						<li><a href="#"><img src="http://www.tricycle.ie/adminica/images/icons/small/grey/plane_suitcase.png"/>Organize</a>
							<ul class="dropdown dropdown_left">
				<!-- 				<li><a href="#"><img src="http://www.tricycle.ie/adminica/images/icons/small/grey/Folder.png"/>Files</a></li> -->
								<li><a href="http://www.tricycle.ie/adminica/index.php/documentation/contacts/"><img src="http://www.tricycle.ie/adminica/images/icons/small/grey/users.png"/>Contacts</a></li>
							</ul>
						</li>
						<li><a href="http://www.tricycle.ie/adminica/index.php/documentation/calendar/"><img src="http://www.tricycle.ie/adminica/images/icons/small/grey/month_calendar.png"/>Calendar<span class="alert badge alert_blue">new</span></a></li>
						<li><a href="http://www.tricycle.ie/adminica/index.php/documentation/charts/"><img src="http://www.tricycle.ie/adminica/images/icons/small/grey/graph.png"/>Charts<span class="alert badge alert_green">new</span></a></li>
						<li><a href="http://www.tricycle.ie/adminica/index.php/documentation/login/"><img src="http://www.tricycle.ie/adminica/images/icons/small/grey/locked_2.png"/>Login</a></li>
					</ul>	
				</div><!-- #nav_top -->
			</div>
			<div class="main_container container_16 clearfix">
					<?php echo $this->FlashMessage($this->message); ?>
					<?php echo $this->layout()->content; ?>
			</div>
		</div>

		<?php echo $this->jQuery()->enable()
		        	   			  ->uiEnable();
		?>

		<!-- Load Interface Plugins -->
		<script type="text/javascript" src="/js/uniform/jquery.uniform.js"></script>
		<script type="text/javascript" src="/js/iPhone/jquery.iphoneui.js"></script>
		<script type="text/javascript" src="/js/uitotop/js/jquery.ui.totop.js"></script>

		<!-- This file configures the various jQuery plugins for Adminica. Contains links to help pages for each plugin. -->
		<script type="text/javascript" src="/js/adminica/adminica_ui.js"></script>
		<script type="text/javascript" src="/js/quicksand/jquery.quicksand.js"></script>
		<script type="text/javascript" src="/js/quicksand/custom_sorter.js"></script>
		<script type="text/javascript" src="/js/quicksand/dash_sorter.js"></script>
		<script type="text/javascript" src="/js/quicksand/jquery-css-transform.js"></script>
		<script type="text/javascript" src="/js/quicksand/jquery-animate-css-rotate-scale.js"></script>

		<script type='text/javascript' src='/js/flot/excanvas.js'></script>
		<script type='text/javascript' src='/js/flot/jquery.flot.js'></script>
		<script type='text/javascript' src='/js/flot/jquery.flot.resize.js'></script>
		<script type='text/javascript' src='/js/flot/jquery.flot.pie.js'></script>

		<script type="text/javascript" src="/js/fullcalendar/fullcalendar.min.js"></script>
		<script type="text/javascript" src="/js/fullcalendar/gcal.js"></script> 

		<script type="text/javascript" src="/js/adminica/adminica_calendar.js"></script>
		<script type="text/javascript" src="/js/adminica/adminica_charts.js"></script>
				
		<script type="text/javascript">
		// wizard

			$('.wizard_steps ul li a').click(function(){
			
				$('.wizard_steps ul li').removeClass('current');
				$(this).parent('li').addClass('current');
				
				var step = $(this).attr('href');
				var step_num = $(this).attr('href').replace('#step_','');
				var step_multiplyby = (100 / $(".wizard_steps > ul > li").size());
				var prog_val = (step_num*step_multiplyby);
				
				$( "#progressbar").progressbar({ value: prog_val });
				
				$('.wizard_content').children().hide();
				$('.wizard_content').children(step).fadeIn();
				
				return false;
			});
			
			$('button.next_step').click(function(){
				
				var step = $(this).attr('id');
				var hash_step = ('#'+step);
						
				var step_num = $(this).attr('id').replace('step_','');
				var step_multiplyby = (100 / $(".wizard_steps > ul > li").size());
				var prog_val = (step_num*step_multiplyby);
				
				$( "#progressbar").progressbar({ value: prog_val });
				
				$('.wizard_steps ul li').removeClass('current');
				$('a[href='+ hash_step +']').parent().addClass('current');
				
				$('.wizard_content').children().hide();
				$('.wizard_content').children(hash_step).fadeIn();
				
				return false;		
			});
			
		</script>
<!-- Please ignore, this is for Google Analytics. -->		
		<script type="text/javascript">
		
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', '']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
	</body>
</html>