<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">

		<!-- iPhone, iPad and Android specific settings -->	
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1;">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		
		<title>Adminica | The Professional Admin Theme</title>		

		<!-- Create an icon and splash screen for iPhone and iPad -->
		<link rel="apple-touch-icon" href="/images/iOS_icon.png">
		<link rel="apple-touch-startup-image" href="/images/iOS_startup.png"> 

		<link rel="stylesheet" type="text/css" href="/css/all.css" media="screen">
		<link rel="stylesheet" type="text/css" href="/css/theme/switcher5.php?default=switcher.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/css/theme/switcher.css" media="screen">
		<link rel="stylesheet" type="text/css" href="/css/theme/switcher1.php?default=../layout_fixed.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/css/theme/switcher2.php" media="screen" />
		<link rel="stylesheet" type="text/css" href="/css/theme/switcher3.php?default=theme_navy.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/css/theme/switcher4.php?default=bg_wood.css" media="screen" />
		<!--[if IE 6]><link rel="stylesheet" type="text/css" href="css/ie6.css" media="screen" /><![endif]-->
		<!--[if IE 7]><link rel="stylesheet" type="text/css" href="css/ie.css" media="screen" /><![endif]-->
	</head>
	<body>
		<div id="login_box" class="round_all clearfix">
			<?php echo $this->FlashMessage($this->message); ?>
			<form enctype="application/x-www-form-urlencoded" action="/login" method="post">
				<label class="fields"><strong>Username</strong><input type="text" id="username" name="username" class="indent round_all"></label>

				<label class="fields"><strong>Password</strong><input type="password" id="password" name="password" class="indent round_all"></label>
				<button class="button_colour round_all" type="submit"><img width="24" height="24" alt="Locked 2" src="http://www.tricycle.ie/adminica/images/icons/small/white/locked_2.png"><span>Login</span></button>
				<div id="bar" class="round_bottom">
					<label><input type="checkbox" id="remember" name="remember">Auto-login in future.</label>
					<!-- <a href="#">Forgot your password?</a> -->
				</div>
			</form>
			<a href="#" id="login_logo"><span>Zimo Communications Ltd.,</span></a>
		</div>
		<script type="text/javascript" src="/js/livevalidation/livevalidation_standalone.js"></script>		

		<script type="text/javascript"> 

		// Validation

	        var username = new LiveValidation('username');
			username.add( Validate.Presence );
			
	        var password = new LiveValidation('password');
			password.add( Validate.Presence );

		</script> 
<!-- Please ignore, this is for Google Analytics. -->		
		<script type="text/javascript">
		
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', '']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
	</body>
</html>