<?php $this->jQuery()->addJavascriptFile('/js/DataTables/jquery.dataTables.js')
					 ->addJavascriptFile('/js/adminica/adminica_datatables.js')
					 ->addJavascriptFile('/js/nexbridge/jquery.admin.users.js'); ?>

<div id="feature_container" class="grid_16">
	<table class="display datatable">
		<thead>
			<tr>
				<th>Username</th>
			</tr>
		</thead>
		<tbody>
			<?php foreach($this->users as $user): ?>
			<tr>
				<td><a href="/admin/user/<?php echo $user['id']; ?>"><?php echo $user['username']; ?></a></td>
			</tr>
			<?php endforeach; ?>
		</tbody>
	</table>
</div>

<div class="flat_area grid_10">
	<h2>Add new user</h2>
	<div id="username" contentEditable="true"></div><button id="add">Add</button>
</div>