<?php $this->jQuery()->addJavascriptFile('/js/DataTables/jquery.dataTables.js')
					 ->addJavascriptFile('/js/adminica/adminica_datatables.js')
					 ->addJavascriptFile('/js/nexbridge/jquery.admin.users.js'); ?>

<div id="feature_container" class="grid_16">
	<table class="display datatable">
		<thead>
			<tr>
				<?php foreach ($this->user as $id => $value): ?>
					<th><?php echo ucfirst($id); ?></th>
				<?php endforeach; ?>
			</tr>
		</thead>
		<tbody>
			<tr>
				<?php foreach ($this->user as $id => $value): ?>
					<td id="<?php echo $id; ?>" contentEditable="true"><?php echo $value; ?></td>
				<?php endforeach; ?>
			</tr>
		</tbody>
	</table>
	<button id="save">Save</button>
</div>